<launch>

  <!-- TODO Add support for right OR left arm -->

  <group ns="right_arm_chain">
    <node pkg="joint_states_settler" type="joint_states_settler_action"
          name="settler" output="screen">
      <remap from="joint_states" to="/joint_states" />
      <remap from="pruned_joint_states" to="chain_state" />
      <param name="joint_name_00" type="string" value="r_shoulder_pan_joint" />
      <param name="joint_tol_00"  type="double" value="0.0" />
      <param name="joint_name_01" type="string" value="r_shoulder_lift_joint" />
      <param name="joint_tol_01"  type="double" value="0.0" />
      <param name="joint_name_02" type="string" value="r_upper_arm_roll_joint" />
      <param name="joint_tol_02"  type="double" value="0.0" />
      <param name="joint_name_03" type="string" value="r_elbow_flex_joint" />
      <param name="joint_tol_03"  type="double" value="0.0" />
      <param name="joint_name_04" type="string" value="r_forearm_roll_joint" />
      <param name="joint_tol_04"  type="double" value="0.0" />
      <param name="joint_name_05" type="string" value="r_wrist_flex_joint" />
      <param name="joint_tol_05"  type="double" value="0.0" />
      <param name="joint_name_06" type="string" value="r_wrist_roll_joint" />
      <param name="joint_tol_06"  type="double" value="0.0" />
    </node>
  </group>

  <group ns="head_chain">
    <node pkg="joint_states_settler" type="joint_states_settler_action"
          name="settler" output="screen">
      <remap from="joint_states" to="/joint_states" />
      <remap from="pruned_joint_states" to="chain_state" />
      <param name="joint_name_00" type="string" value="head_pan_joint" />
      <param name="joint_tol_00"  type="double" value="0.0" />
      <param name="joint_name_01" type="string" value="head_tilt_joint" />
      <param name="joint_tol_01"  type="double" value="0.0" />
    </node>
  </group>

  <!-- Cameras -->
  <include file="$(find calibration_launch)/capture_data/monocam_pipeline.launch" ns="r_forearm_cam"/>

  <include file="$(find calibration_launch)/capture_data/monocam_pipeline.launch" ns="camera/rgb" >
    <arg name="image_topic" value="image_mono"/>
  </include>

  <machine name="c2" address="c2" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="True"/>  
  <include file="$(find pr2_se_calibration_launch)/capture_data/prosilica_1MP.launch" />
  <machine name="c1" address="c1" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="True"/>

  <include file="$(find pr2_calibration_launch)/capture_data/laser_pipelines.launch" />


  <!-- Intersector -->
  <node type="interval_intersection_action"
        pkg="interval_intersection"
        name="interval_intersection"
        output="screen">
    <remap from="head_chain" to="head_chain/settled_interval" />
    <remap from="right_arm_chain" to="right_arm_chain/settled_interval" />
    <remap from="forearm_right_rect" to="r_forearm_cam/settled_interval" />
    <remap from="prosilica_rect" to="prosilica/settled_interval" />
    <remap from="kinect_rect" to="camera/rgb/settled_interval" />
    <remap from="interval" to="request_interval" />
  </node>

</launch>
