<launch>

  <!-- TODO Add support for right OR left arm -->

  <!-- Hack to create the directory -->
  <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/pr2_calibration" />
  <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/pr2_calibration/cb_fail" />

  <param name="r_forearm_cam/annotated_viewer/filename_format"    type="string" value="/tmp/pr2_calibration/cb_fail/cb_r_forearm_%04i.jpg" />
  <param name="camera/rgb/annotated_viewer/filename_format"       type="string" value="/tmp/pr2_calibration/cb_fail/cb_kinect_%04i.jpg" />
  <param name="tilt_laser/annotated_viewer/filename_format"       type="string" value="/tmp/pr2_calibration/cb_fail/cb_laser_5x4_%04i.jpg" />
  <param name="tilt_laser_7x6/annotated_viewer/filename_format"   type="string" value="/tmp/pr2_calibration/cb_fail/cb_laser_7x6_%04i.jpg" />

  <include file="$(find calibration_launch)/capture_data/annotated_viewer.launch"
           ns="r_forearm_cam" />

  <include file="$(find calibration_launch)/capture_data/annotated_viewer.launch" ns="camera/rgb" />

  <include file="$(find calibration_launch)/capture_data/annotated_viewer.launch" ns="prosilica" />

  <include file="$(find calibration_launch)/capture_data/annotated_viewer.launch" ns="tilt_laser">
    <arg name="autosize" value="False"/>
  </include>

  <include file="$(find calibration_launch)/capture_data/annotated_viewer.launch" ns="tilt_laser_7x6">
    <arg name="autosize" value="False"/>
  </include>

</launch>
