<launch>
  <machine name="c1" address="c1" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="True"/>

  <include file="$(find pr2_calibration_launch)/capture_data/controllers.launch" />

  <include file="$(find pr2_calibration_launch)/capture_data/joint_settlers.launch" />

  <!-- Cameras -->
  <include file="$(find pr2_calibration_launch)/capture_data/double_stereo_pipeline.launch" />

  <include file="$(find calibration_launch)/capture_data/monocam_pipeline.launch" ns="l_forearm_cam" />

  <include file="$(find calibration_launch)/capture_data/monocam_pipeline.launch" ns="r_forearm_cam" />

  <include file="$(find calibration_launch)/capture_data/monocam_pipeline.launch" ns="kinect_head/camera/rgb" >
    <arg name="image_topic" value="image_mono"/>
  </include>

  <include file="$(find calibration_launch)/capture_data/monocam_pipeline.launch" ns="kinect_torso/camera/rgb" >
    <arg name="image_topic" value="image_mono"/>
  </include>

  <include file="$(find pr2_calibration_launch)/capture_data/intersection.launch" />
  <include file="$(find pr2_calibration_launch)/capture_data/laser_pipelines.launch" />

  <machine name="c2" address="c2" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="True"/>  
  <include file="$(find pr2_calibration_launch)/capture_data/prosilica.launch" />
  <machine name="c1" address="c1" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="True"/>

</launch>
